* {
  box-sizing: border-box;
}
nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 16px 20px 30px 20px;
  display: flex;
  align-items: center;
  transition: 0.3s ease-out;
  backdrop-filter: blur(8px) brightness(1.2);
  -webkit-backdrop-filter: blur(8px) brightness(1.2);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  font-family: "Poppins";
}

a {
  color: inherit;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
.list {
  list-style-type: none;
  margin-right: auto;
  display: none;
  @media (min-width: 640px) {
    display: flex;
  }
  li {
    margin-left: 20px;
  }
}
.btnLogout {
  background-color: black;
  border-radius: 7px;
  border: 1px solid whitesmoke;
  margin-left: auto;
  color: white;
  height: 44px;
  width: 124px;
  font-family: "Poppins";
  font-weight: bold;
  justify-content: center;
  align-items: start;
}
.logo {
  margin: left;
  width: 76px;
  height: 80px;
}
.Box {
  height: 570px;
  width: 100%;
  background: linear-gradient(
      180deg,
      rgba(53, 139, 184, 1) 0%,
      rgba(58, 137, 177, 1) 47%,
      rgba(115, 115, 115, 1) 100%
    ),
    url("./Components/assets/Bus.png");
  background-size: cover;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}

.Box .rectangle {
  height: 100%;
  left: 0;

  top: 0;
  width: 100%;
}
body {
  margin: 0%;
}
.ListDiv {
  background-color: #ea4f4e;
  width: 1100px;
  height: 40px;
  border-radius: 5px;
  font-family: "Poppins-SemiBold", Helvetica;
  color: #ffff;
  font-weight: 600px;
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 7%;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.DivofList {
  background-color: #ffffff;
  width: 1100px;
  height: 200px;
  border-radius: 5px;
  color: #000000;
  font-size: 20px;
  position: absolute;
  top: 52.2%;
  left: 7%;
  display: flex;
}
.fromDiv {
  background-color: #d9d9d9;
  width: 200px;
  height: 40px;
  position: relative;
  top: 20%;
  left: 3%;
  border-radius: 5px;
}
.fromText {
  text-align: left;
  bottom: 25%;
  left: 20%;
  font-family: "Poppins-Regular", Helvetica;
  position: relative;
  color: #4e4e4e;
}
.fromTo {
  background-color: #d9d9d9;
  width: 200px;
  height: 40px;
  position: relative;
  top: 20%;
  left: 13%;
  border-radius: 5px;
}
.datediv {
  background-color: #d9d9d9;
  width: 200px;
  height: 40px;
  position: relative;
  top: 20%;
  left: 23%;
  border-radius: 5px;
}
.BtnSearchBuses {
  background-color: #000000;
  color: #ffffff;
  position: absolute;
  height: 40px;
  width: 160px;
  top: 20%;
  right: 3%;
  border-radius: 5px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600px;
  font-size: 14px;
}

.TicketDiv {
  width: 289.882px;
  height: 601.803px;
  transform: rotate(-0.104deg);
  flex-shrink: 0;
  background-color: rgba(231, 220, 220, 0.76);
  border-radius: 40px;
  position: relative;
}
.LineDiv {
  width: 1px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.57);
  height: 457.3px;
  left: 70%;
}
.lineIcon {
  width: 100%;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 1.8px;
  object-fit: contain;
}
